<div class="center hero-unit">
	<h1>Welcome to Sample App</h1>
	<h2>Home page for sample app</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("itachi.png", alt: "Mangekyo"), 'http://naruto.wikia.com/wiki/Mangeky%C5%8D_Sharingan', target: "_blank" %>
