<!-- render method checks for the class of the object on which it is being called. hence here, it renders _user page, since User class object is passed to render -->
<li>
	<%= image_for user %>
	<%= link_to user.name, user %>
</li>